@import "components/header";
@import "components/main";
@import "components/footer";
@import "base/colors";
@import "base/variables";
@import "base/listas";
@import "base/extends";
@import "base/mixins";

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: nth($colores, 8);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    font-weight: bold;
}

.disclaimer {
    display: none !important; 
}

/* MEDIAS */

/* MEDIA QUERIE DESKTOP */
@media screen and (min-width: 1024px) {
    h2 {
        padding: 1em 0 1em 0em;
    }
}

/* MEDIA QUERIE LAPTOP */
@media screen and (min-width: 1024px) and (max-width: 1439px) {
    main {
        .button {
            font-size: 0.8em;
        }

        .paragraph-price {
            font-size: 0.8em;
        }
    }
}

/* MEDIA QUERIE TABLET */
@media screen and (min-width: 768px) and (max-width: 1023px) {
    p {
        font-size: 0.75em;
    }

    .h2 {
        padding: 1em 0 1em 1em;
    }

    main {
        .button {
            font-size: 0.6em;
        }

        .paragraph-price {
            font-size: 0.6em;
        }
    }
}

/* MEDIA QUERIE MOBILE */
@media screen and (max-width: 767px) {
    p {
        font-size: 0.5em;
    }

    main {
        .grid-container {
            display: grid;
            grid-template-areas: "offer-1"
                "offer-2"
                "offer-3"
                "offer-4";
            display: flex;
            justify-content: center;
            gap: 3em;

            .grid-item {
                width: 90%;
            }

            .offer {
                display: none;
            }
        }
    
        .grid-container-monitores {
            display: grid;
            grid-template-areas: "monitor-1"
                "monitor-2"
                "monitor-3"
                "monitor-4";
            display: flex;
            justify-content: center;
            gap: 3em;

            .grid-item {
                width: 90%;
            }
        }

        .grid-container-notebooks {
            display: grid;
            grid-template-areas: "notebook-1"
                "notebook-2"
                "notebook-3"
                "notebook-4";
            display: flex;
            justify-content: center;
            gap: 3em;
            
            .grid-item {
                width: 90%;
            }
        }

        .grid-container-placas {
            display: grid;
            grid-template-areas: "placas-1"
                "placas-2"
                "placas-3"
                "placas-4";
            display: flex;
            justify-content: center;
            gap: 3em;
            
            .grid-item {
                width: 90%;
            }
        }

        .paragraph-description {
            font-size: 1em;
        }

        .paragraph-price {
            font-size: 1em;
        }

        .section-faq {
            h4 {
                display: none;
            }
        }

    }

    footer {
        h2 {
            font-size: 1em;
        }

        p {
            font-size: 0.70em;
        }

        .footer-info {
            padding-left: 1em;
            font-size: 0.75em;
        }

        .maps {
            padding-right: 1em;
        }
    }
}
