* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: grey;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    font-weight: bold;
}

/* Index */

.main-logo {
    width: 12em;
    padding-left: 1em;
}

.section-destacados {
    background-color: #EEEEEE;
    padding-bottom: 2em;
}

.h2 {
    padding-top: 1em;
    padding-bottom: 1em;
}

.paragraph-description {
    color: black;
    padding: 1em;
    font-weight: normal;
    font-family: Arial, Helvetica, sans-serif;
}

.paragraph-price {
    color: #009bdb;
    font-weight: bold;
    padding-top: 1em;
    padding-left: 1em;
}

.offer-1 {
    transition: all 0.5s;  
}
.offer-2 {
    transition: all 0.5s;      
}
.offer-3 {
    transition: all 0.5s;     
}
.offer-4 {
    transition: all 0.5s;   
}

.offer-1:hover {
    transform: scale(1.05);
}

.offer-2:hover {
    transform: scale(1.05);
}

.offer-3:hover {
    transform: scale(1.05);
}

.offer-4:hover {
    transform: scale(1.05);
}

/* Fin Index */


/* Monitores html */

.section-monitores-html {
    background-color: #EEEEEE;
    padding-bottom: 2em;
}

.monitor-1 {
    border-radius: 2%;
    background-color: white;
    transition: all 0.5s;
}

.monitor-2 {
    border-radius: 2%;
    background-color: white;
    transition: all 0.5s;
}

.monitor-3 {
    border-radius: 2%;
    background-color: white;
    transition: all 0.5s;
}

.monitor-4 {
    border-radius: 2%;
    background-color: white;
    transition: all 0.5s;
}

.monitor-1:hover {
    transform: scale(1.05);
}

.monitor-2:hover {
    transform: scale(1.05);    
}

.monitor-3:hover {
    transform: scale(1.05);   
}

.monitor-4:hover {
    transform: scale(1.05); 
}


/* Fin monitores html */


/* Notebooks html */

.section-notebooks-html {
    background-color: #EEEEEE;
    padding-bottom: 2em;
}

.notebook-1 {
    border-radius: 2%;
    background-color: white;
    transition: all 0.5s;
}

.notebook-2 {
    border-radius: 2%;
    background-color: white;
    transition: all 0.5s;
}

.notebook-3 {
    border-radius: 2%;
    background-color: white;
    transition: all 0.5s;
}

.notebook-4 {
    border-radius: 2%;
    background-color: white;
    transition: all 0.5s;
}

.notebook-1:hover {
    transform: scale(1.05);
}

.notebook-2:hover {
    transform: scale(1.05);
}

.notebook-3:hover {
    transform: scale(1.05);
}

.notebook-4:hover {
    transform: scale(1.05);
}

/* Fin notebooks html */


/* Placas de video html */

.section-placas-html {
    background-color: #EEEEEE;
    padding-bottom: 2em;
}

.placas-1 {
    border-radius: 2%;
    background-color: white;
    transition: all 0.5s;
}

.placas-2 {
    border-radius: 2%;
    background-color: white;
    transition: all 0.5s;
}

.placas-3 {
    border-radius: 2%;
    background-color: white;
    transition: all 0.5s;
}

.placas-4 {
    border-radius: 2%;
    background-color: white;
    transition: all 0.5s;
}

.placas-1:hover {
    transform: scale(1.05);  
}

.placas-2:hover {
    transform: scale(1.05);  
}

.placas-3:hover {
    transform: scale(1.05);  
}

.placas-4:hover {
    transform: scale(1.05);  
}

/* Fin placas html */

/* Contacto html */

.section-contacto {
    background-color: #EEEEEE;
}

.h2-contacto {
    padding-top: 0.5em;
    padding-left: 1em;
}

.form {
    padding: 1em 3em 2em 2em;
}


.first {
    padding-bottom: 2em;
}

.second {
    padding-bottom: 2em;
}

.paragraph-contact {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    padding-top: 1em;
    padding-left: 3em;
}

/* Sobre nosotros html */

.section-sobrenosotros {
    background-color: #EEEEEE;
}

.container-sobrenosotros {
    padding-bottom: 2em;
    padding-right: 1em;
}

.paragraph-sobrenosotros {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    padding-top: 1em;
    padding-left: 3em;
}

/* Footer */

.footer {
    background-color: #37373f;
    position: relative;
    width: 100%;
    bottom: 0;
}

.footer-menu {
    display: flex;
    align-items: center;
    justify-content: space-around;
    list-style-type: none;
    padding-top: 1em;
    padding-bottom: 1em;
    background-color: rgb(4, 4, 8);
}

.paragraph-menu-footer {
    color: white;
}

.footer-areas {
    display: flex;
    justify-content: space-around;
    padding-top: 5em;
    padding-bottom: 1em;
}

.h2-footer {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
    font-size: 1em;
}

.p-footer {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
    font-size: 1em;
    padding-top: 1em;
}


.maps {
    width: 28em;
    height: 25em;
}

.socials {
    list-style: none;
    display: flex;
    justify-content: center;
}

.social-media {
    width: 3em;
    height: 3em;
}

/* Fin footer */